<ion-card-header>
  <ion-card-title class="ion-text-capitalize">
    {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.forgot-password.header-text' | translate}}
  </ion-card-title>
</ion-card-header>
<ion-card-content>
  <form
    class="ion-margin-bottom"
    [formGroup]="forgotPasswordForm"
    (keyup.enter)="forgotPassword()"
  >
    <mat-form-field class="mat-form-field-full-width">
      <mat-label>
        {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.forgot-password.labels.email' | translate}}
      </mat-label>
      <input
        matInput
        required
        formControlName="email"
        type="email"
        autocomplete="email"
      />
      <button
        *ngIf="forgotPasswordForm.controls.email.value"
        matSuffix
        mat-icon-button
        aria-label="Clear Email"
        type="button"
        color="accent"
        (click)="clearEmail()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <ion-row>
    <ion-col>
      <ion-button
        class="ion-margin"
        expand="block"
        size="large"
        [disabled]="forgotPasswordForm.invalid || isLoading"
        (click)="forgotPassword()"
      >
        {{ '@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.forgot-password.buttons.sendCode' | translate }}
        <ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        expand="full"
        fill="clear"
        color="tertiary"
        class="text-transform-none"
        (click)="changeAuthState(AUTH_STATE.signIn)"
      >
        {{ '@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.forgot-password.text.rememberedPassword' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>
