:root {
  --ion-color-background: #313c42;
  --ion-color-background-rgb: 49,60,66;
  --ion-color-background-contrast: #ffffff;
  --ion-color-background-contrast-rgb: 255,255,255;
  --ion-color-background-shade: #2b353a;
  --ion-color-background-tint: #465055;
}

.ion-color-background {
  --ion-color-base: var(--ion-color-background);
  --ion-color-base-rgb: var(--ion-color-background-rgb);
  --ion-color-contrast: var(--ion-color-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-shade);
  --ion-color-tint: var(--ion-color-background-tint);
}
