<ion-card-header>
  <ion-card-title class="ion-text-capitalize">
    {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.reset-password.header-text' | translate}}
  </ion-card-title>
</ion-card-header>
<ion-card-content>
  <ion-item
    lines="none"
    class="ion-no-padding"
  >
    <ion-label>
        {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.reset-password.labels.email' | translate}}
      <p>
        {{email}}
      </p>
    </ion-label>
    <ion-button
      slot="end"
      fill="clear"
      class="ion-text-capitalize"
      (click)="resendCode()"
    >
      {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.reset-password.buttons.resendCode' | translate}}
    </ion-button>
  </ion-item>
  <div>
    <form
      class="ion-margin-bottom"
      [formGroup]="formGroup"
      (keyup.enter)="resetPassword()"
    >
      <mat-form-field class="mat-form-field-full-width">
        <mat-label>
          {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.reset-password.labels.code' | translate}}
        </mat-label>
        <input
          matInput
          required
          formControlName="code"
          type="tel"
          autocomplete="off"
        />
      </mat-form-field>

      <div formGroupName="passwordGroup">
        <mat-form-field class="mat-form-field-full-width">
          <mat-label>
            {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.reset-password.labels.password' | translate}}
          </mat-label>
          <input
            matInput
            required
            formControlName="password"
            [type]="showPasswords ? 'text' : 'password'"
            autocomplete="off"
          />
          <button
            matSuffix
            mat-icon-button
            aria-label="Toggle Password Visibility"
            type="button"
            color="accent"
            (click)="toggleShowPasswords()"
          >
            <mat-icon>{{showPasswords ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="mat-form-field-full-width">
          <mat-label>
            {{'@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.reset-password.labels.confirmPassword' | translate}}
          </mat-label>
          <input
            matInput
            required
            formControlName="confirmPassword"
            autocomplete="off"
            [type]="showPasswords ? 'text' : 'password'"
            [errorStateMatcher]="confirmValidParentMatcher"
          />
          <button
            matSuffix
            mat-icon-button
            aria-label="Toggle Password Visibility"
            type="button"
            color="accent"
            (click)="toggleShowPasswords()"
          >
            <mat-icon>{{showPasswords ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          <mat-error>
            {{"@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.sign-up.errors.confirmPassword" | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button
          class="ion-margin"
          expand="block"
          size="large"
          [disabled]="formGroup.invalid || isLoading"
          (click)="resetPassword()"
        >
          <ion-text>
            {{ '@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.reset-password.buttons.resetPassword' | translate }}
          </ion-text>
          <ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col>
      <ion-button
        expand="full"
        fill="clear"
        color="tertiary"
        class="text-transform-none"
        (click)="changeAuthState(AUTH_STATE.signIn)"
      >
        {{ '@mawhea/ngx-amplify-auth-ui.app-amplify-authenticator.forgot-password.text.rememberedPassword' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>
